@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

#body{
    background-color: #26eba9;
}
#insta{
    border-radius: 10px;
    background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
.qoute{
    background-color: antiquewhite;
    font-family: 'Fredoka', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 1rem;
    padding: 5px;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: xx-large;
    border: 5px solid rgb(255, 165, 19);
    border-radius: 7px;
}

#author{
    color: rgb(66, 62, 62);
    font-size: 1.5rem;
    font-family: 'Fredoka', sans-serif;
    margin-left: 250px;
}